{% extends "authentication/base_forms.html" %}
{% load static %}
{% block title %}Définir votre mot de passe{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-center mb-4">🔒 Sécurité requise</h2>
    <p class="text-center mb-3">Pour votre sécurité, veuillez définir un mot de passe.</p>
    
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <input type="password" name="new_password1" class="form-control" 
                   placeholder="Nouveau mot de passe" required>
        </div>
        <div class="mb-4">
            <input type="password" name="new_password2" class="form-control" 
                   placeholder="Confirmez le mot de passe" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Valider</button>
    </form>
</div>
{% endblock %}